body.ng-cloak
  include ../../../../views/layouts/navbar
  .container
    include ../../../../views/index/sections/home
    include ../../../../views/index/sections/resources
    include sections/game
